@import '~bootstrap/scss/bootstrap';

$background-color: #1a1a1a;
$border-color: #c2ae92;
$page-background: #000;
$text-color: #fcfadf;

body {
  background-color: $page-background;
}

H1 {
  color: $text-color;
  font-family: 'Courier New', Courier, monospace;
  font-size: 55px;
}

H2 {
  color: $text-color;
  font-family: 'Courier New', Courier, monospace;
}

p {
  color: $text-color;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.board {
  background-color: $background-color;
  border: 6px solid $border-color;
  border-radius: 10px;
  color: $text-color;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 400px;
  margin: 0 auto;
  width: 400px;
}

.square {
  align-items: center;
  border: 3px solid $border-color;
  border-radius: 2px;
  display: flex;
  font-family: Helvetica;
  font-size: 4em;
  font-weight: bold;
  justify-content: center;
}
